<https://fdp.wikipathways.org/catalog/index.ttl> a dcat:Catalog ;
  rdfs:label "WikiPathways Catalog" ;
  dct:title "WikiPathways Catalog" ;
  foaf:homePage <https://data.wikipathways.org/> ;
  fdpo:metadataIssued "2023-03-10T07:42:08.000Z"^^xsd:dateTime;
  fdpo:metadataModified "%%DATE2%%T13:06:00.000Z"^^xsd:dateTime;
  dct:issued "2023-03-10T07:42:08.000Z"^^xsd:dateTime;
  dct:modified "%%DATE2%%T13:06:00.000Z"^^xsd:dateTime;
  dct:conformsTo [ rdfs:label "Catalog Profile" ] ;
  dct:isPartOf <http://fdp.wikipathways.org/index.ttl>;
  dcat:dataset <https://fdp.wikipathways.org/dataset/%%DATE%%/index.ttl> .
