<https://fdp.wikipathways.org/index.ttl> a dcat:Resource, dcat:DataService, fdpo:MetadataService, fdpo:FairDataPoint ;
  rdfs:label "WikiPathways FAIR Data Point";
  dct:title "WikiPathways FAIR Data Point";
  foaf:logo <https://upload.wikimedia.org/wikipedia/commons/8/83/Wplogo_with_text_500.png>;
  dcat:theme <http://vocabularies.wikipathways.org/wp#Pathway>;
  dct:keyword [
    "biological pathway", "rare disease", "biomarker", "gene",
    "protein", "metabolite"
  ];
  dct:conformsTo <https://www.purl.org/fairtools/fdp/schema/0.1/fdpMetadata>;
  dct:description "This FAIR Data Point deployment is used to describe WikiPathways.";
  dct:hasVersion "%%DATE%%" ;
  dct:license <http://rdflicense.appspot.com/rdflicense/cc-by-nc-nd4.0>;
  dct:publisher <https://wikipathways.org/>;
  dcat:landingPage <https://data.wikipathways.org/%%DATE%%/>
  ejprd:vpConnection <https://w3id.org/ejp-rd/vocabulary#VPDiscoverable>;
  ejprd:personalData "false";
  dct:conformsTo [ rdfs:label "FAIR Data Point Profile" ];
  dct:accessRights <https://fdp.wikipathways.org/#accessRights> ;
  dct:language <http://id.loc.gov/vocabulary/iso639-1/en>;
  fdpo:metadataIssued "2023-03-10T07:42:08.000Z"^^xsd:dateTime;
  fdpo:metadataModified "%%ISOTIME%%"^^xsd:dateTime;
  dct:issued "2023-03-10T07:42:08.000Z"^^xsd:dateTime;
  dct:modified "%%ISOTIME%%"^^xsd:dateTime;
  dcat:contactPoint <https://fdp.wikipathways.org/contact/>;
  fdpo:metadataCatalog
    <https://fdp.wikipathways.org/catalog/index.ttl> .

<https://fdp.wikipathways.org/contact/>
  <http://www.w3.org/2006/vcard/ns#url> <https://github.com/wikipathways/fdp/issues> .

<https://wikipathways.org/> a foaf:Agent ;
  foaf:page <https://www.wikipathways.org/> ;
  dct:title "WikiPathways" ;
  foaf:name "WikiPathways" .

<https://fdp.wikipathways.org/#accessRights> a dct:RightsStatement;
  dct:description "This resource has no access restriction" .
  
<http://fdp.wikipathways.org/catalogs/index.ttl> a ldp:DirectContainer;
  dct:title "WikiPathways Catalogs";
  ldp:hasMemberRelation <https://w3id.org/fdp/fdpo#metadataCatalog> ;
  ldp:membershipResource <https://fdp.wikipathways.org/> ;
  ldp:contains <https://fdp.wikipathways.org/catalog/index.ttl> .
