<https://fdp.wikipathways.org/index.ttl> a dcat:Resource, dcat:DataService, fdpo:MetadataService, fdpo:FairDataPoint ;
  rdfs:label "WikiPathways FAIR Data Point";
  dct:title "WikiPathways FAIR Data Point";
  dct:conformsTo <https://www.purl.org/fairtools/fdp/schema/0.1/fdpMetadata>;
  dct:description "This FAIR Data Point deployment is used to describe WikiPathways.";
  dct:hasVersion "1.0" ;
  dct:license <http://rdflicense.appspot.com/rdflicense/cc-by-nc-nd4.0>;
  dct:publisher <https://wikipathways.org/>;
  dct:conformsTo [ rdfs:label "FAIR Data Point Profile" ];
  dct:accessRights <https://fdp.wikipathways.org/#accessRights> ;
  dct:language <http://id.loc.gov/vocabulary/iso639-1/en>;
  fdpo:metadataIssued "2023-03-10T07:42:08.000Z"^^xsd:dateTime;
  fdpo:metadataModified "2024-02-10T13:06:00.000Z"^^xsd:dateTime;
  fdpo:metadataCatalog
    <https://fdp.wikipathways.org/catalog/index.ttl> .

<https://wikipathways.org/> a foaf:Agent ; foaf:name "WikiPathways" .

<https://fdp.wikipathways.org/#accessRights> a dct:RightsStatement;
  dct:description "This resource has no access restriction" .
  
<http://fdp.wikipathways.org/catalogs/index.ttl> a ldp:DirectContainer;
  dct:title "WikiPathways Catalogs";
  ldp:hasMemberRelation <https://w3id.org/fdp/fdpo#metadataCatalog> ;
  ldp:membershipResource <https://fdp.wikipathways.org/> ;
  ldp:contains <https://fdp.wikipathways.org/catalog/index.ttl> .
